<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <script src="{{ url_for('static', filename='js/encryption.js') }}" defer></script>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin-top: 100px;
    }
    form {
      display: inline-block;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 10px;
      background: #f9f9f9;
    }
    input, button {
      margin: 10px;
      padding: 8px;
      width: 200px;
    }
    .error {
      color: red;
    }
  </style>
</head>
<body>
  <h2>Login</h2>
  <form method="POST" id = "myFormId">
    <input type="email" id = "email" name="email" placeholder="Email" required><br>
    <input type="password" id = "password" name="password" placeholder="Password" required><br>
    <button type="submit">Login</button>
  </form>
  {% if error %}
  <p class="error">{{ error }}</p>
  {% endif %}
  <p>No account? <a href="/signup">Sign up</a></p>
</body>
</html>
